.site-footer {
    background-color: #26272b;
}

.footer-links li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer-links a {
    color: white;

}

.footer-links {
    text-align: right
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.btn {
    background-image: url('../../../assets/linux.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 200px;
    background-color: transparent;
    border: none;
    background-position: center;
   
}