<div >

    <div  class="pelicula">
            <img src="https://images7.alphacoders.com/325/thumb-1920-325547.jpg" 
                 class="pelicula2">
                 
                 <div  class="pelicula">
                    <div class="rojo">
                        <img src="https://images7.alphacoders.com/325/thumb-1920-325547.jpg" 
                         class="imgFondo"
                         alt="">
                    </div>
                    <div class="letras">
                        <div class="titulo">
                            <h1 class="centrado">El increible castillo vagabundo</h1>
                        </div>
                        <div class="etiquetas">
                            <h3>
                              <span class="badge bg-secondary">New</span>
                            </h3>
                        </div>
                        
                </div>
                </div>
          
    </div>
 
</div>