// Hero screen
// ______________________________________________________
.info-movie {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://www.themoviedb.org/t/p/original/yTyCk81I7IZ1lCcfPsaENjhgy0w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
}

.other-movie-example {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://www.themoviedb.org/t/p/original/hs6OPto38fF589ScpGhl7uSU4MI.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-movie-content {
  color: #fff;
  display: none;
}

.movie-container {
  width: 100%;
}

.movie-cover {
  width: 50%;
  height: auto;
}

.movie-title-outside {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.container {
  padding: 10px;
}

// Best movies
// ______________________________________________________
.all-movies {
  display: none;
}

.titles-movies {
  text-align: center;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // Hero screen
  // ______________________________________________________

  .movie-title-outside {
    display: none;
  }

  .hero-movie-content {
    color: #fff;
    display: block;
  }

  .info-movie {
    height: 100vh;
  }

  .hero-movie-content-platforms {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .hero-movie-content-platforms img {
    width: 80%;
    height: auto;
    border-radius: 15px;
  }

  .movie-title-outside {
    text-align: left;
  }

  .movie-cover {
    height: 50vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  // Best movies
  // ______________________________________________________

  .best-qualified {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .titles-movies {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .all-movies {
    display: block;
    margin-left: auto;
    text-decoration: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .info-movie {
    display: flex;
    flex-direction: row;
  }

  .movie-cover {
    width: 25vw;
    height: auto;
    margin: auto;
    margin-left: 15px;
    margin-right: 0;
  }

  .movie-title-outside {
    display: none;
  }

  .hero-movie-content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-movie-content-platforms {
    grid-template-columns: repeat(12, 1fr);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
