<section id="home">
  <article id="hero" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active info-movie">
        <img class="movie-cover"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ywG58WE8KO5GBYn5xXpeITDJSLy.jpg" alt="movie-cover">
        <h2 class="movie-title-outside">A Fistful of Dollars</h2>
        <div class="hero-movie-content container">
          <div>
            <h2 class="movie-title">A Fistful of Dollars</h2>
            <p>
              The Man With No Name enters the Mexican village of San Miguel in the midst of a power struggle among the
              three
              Rojo brothers and sheriff John Baxter. When a regiment of Mexican soldiers bearing gold intended to pay
              for
              new
              weapons is waylaid by the Rojo brothers, the stranger inserts himself into the middle of the
              long-simmering
              battle, selling false information to both sides for his own benefit.
            </p>
            <div class="hero-movie-content-platforms">
              <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/didisney-plus-logo-1579600794.jpg"
                alt="disney-logo-image">
              <img src="https://hbomax-images.warnermediacdn.com/2020-05/square%20social%20logo%20400%20x%20400_0.png"
                alt="disney-logo-image">
              <img src="https://www.dafont.com/forum/attach/orig/9/3/930608.jpg" alt="disney-logo-image">
            </div>
          </div>
        </div>
        <div class="hero-rating">
        </div>
      </div>

      <div class="carousel-item info-movie other-movie-example">
        <img class="movie-cover"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ooqASvA7qxlTVKL3KwOzBwy57Dh.jpg" alt="movie-cover">
        <h2 class="movie-title-outside">For a few dollars more</h2>
        <div class="hero-movie-content container">
          <div>
            <h2 class="movie-title">For a few dollars more</h2>
            <p>
              The man with no name is back... the man in black is waiting... a walking arsenal - he uncoils, strikes and
              kills!
            </p>
            <div class="hero-movie-content-platforms">
              <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/didisney-plus-logo-1579600794.jpg"
                alt="disney-logo-image">
              <img src="https://hbomax-images.warnermediacdn.com/2020-05/square%20social%20logo%20400%20x%20400_0.png"
                alt="disney-logo-image">
              <img src="https://www.dafont.com/forum/attach/orig/9/3/930608.jpg" alt="disney-logo-image">
            </div>
          </div>
        </div>
        <div id="hero-rating">
        </div>

      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </article>
  <article id="best-movies">
  </article>
  <article id="recomendations">
  </article>
  <article id="best-series">
  </article>
  <article id="random-movie"></article>
</section>